﻿@model BHTecEventos.Models.PessoaModel
           
@{
    ViewBag.Title = "Alterar Cadastro";
    //ViewBag.T = "CadastroNaoSocio";
    Layout = "~/Views/Shared/_EventoLayout.cshtml";

    var db = new BHTecEventos.Models.EntitiesBHTecEventos();
    var ModelListas = new BHTecEventos.Models.PessoaModel();

    List<SelectListItem> Cidades = new List<SelectListItem>();
    using (BHTecEventos.Models.EntitiesBHTecEventos dbs = new BHTecEventos.Models.EntitiesBHTecEventos())
    {
        foreach (var item in dbs.RegionalCidades.OrderBy(u => u.Nome))
        {
            Cidades.Add(new SelectListItem { Text = item.Nome, Value = item.Nome });
        }
        Cidades.Add(new SelectListItem { Text = "Outros", Value = "Outros" });
    }

    ModelListas.ListaEstadoCivil = new SelectList(db.EstadoCivil, "Codigo", "NomeEstadoCivil");

    List<SelectListItem> ListaEstadoCivil = new List<SelectListItem>();
    ListaEstadoCivil.Add(new SelectListItem { Text = "Solteiro(a)", Value = "1" });
    ListaEstadoCivil.Add(new SelectListItem { Text = "Casado(a)", Value = "2" });
    ListaEstadoCivil.Add(new SelectListItem { Text = "Divorciado(a)", Value = "3" });
    ListaEstadoCivil.Add(new SelectListItem { Text = "Viuvo(a)", Value = "4" });

    List<SelectListItem> ListaSexo = new List<SelectListItem>();
    ListaSexo.Add(new SelectListItem { Text = "Masculino", Value = "M" });
    ListaSexo.Add(new SelectListItem { Text = "Feminino", Value = "F" });

    List<SelectListItem> ListaUF = new List<SelectListItem>();
    ListaUF.Add(new SelectListItem { Value = "AC", Text = "AC" });
    ListaUF.Add(new SelectListItem { Value = "AL", Text = "AL" });
    ListaUF.Add(new SelectListItem { Value = "AP", Text = "AP" });
    ListaUF.Add(new SelectListItem { Value = "AM", Text = "AM" });
    ListaUF.Add(new SelectListItem { Value = "BA", Text = "BA" });
    ListaUF.Add(new SelectListItem { Value = "CE", Text = "CE" });
    ListaUF.Add(new SelectListItem { Value = "DF", Text = "DF" });
    ListaUF.Add(new SelectListItem { Value = "ES", Text = "ES" });
    ListaUF.Add(new SelectListItem { Value = "GO", Text = "GO" });
    ListaUF.Add(new SelectListItem { Value = "MA", Text = "MA" });
    ListaUF.Add(new SelectListItem { Value = "MT", Text = "MT" });
    ListaUF.Add(new SelectListItem { Value = "MS", Text = "MS" });
    ListaUF.Add(new SelectListItem { Value = "MG", Text = "MG" });
    ListaUF.Add(new SelectListItem { Value = "PA", Text = "PA" });
    ListaUF.Add(new SelectListItem { Value = "PB", Text = "PB" });
    ListaUF.Add(new SelectListItem { Value = "PR", Text = "PR" });
    ListaUF.Add(new SelectListItem { Value = "PE", Text = "PE" });
    ListaUF.Add(new SelectListItem { Value = "PI", Text = "PI" });
    ListaUF.Add(new SelectListItem { Value = "RJ", Text = "RJ" });
    ListaUF.Add(new SelectListItem { Value = "RN", Text = "RN" });
    ListaUF.Add(new SelectListItem { Value = "RS", Text = "RS" });
    ListaUF.Add(new SelectListItem { Value = "RO", Text = "RO" });
    ListaUF.Add(new SelectListItem { Value = "RR", Text = "RR" });
    ListaUF.Add(new SelectListItem { Value = "SC", Text = "SC" });
    ListaUF.Add(new SelectListItem { Value = "SP", Text = "SP" });
    ListaUF.Add(new SelectListItem { Value = "SE", Text = "SE" });
    ListaUF.Add(new SelectListItem { Value = "TO", Text = "TO" });

    List<SelectListItem> ListaEstadoAtividade = new List<SelectListItem>();
    ListaEstadoAtividade.Add(new SelectListItem { Text = "Ativo", Value = "1" });
    ListaEstadoAtividade.Add(new SelectListItem { Text = "Inativo", Value = "2" });


    List<SelectListItem> ListaCategoria = new List<SelectListItem>();
    ListaCategoria.Add(new SelectListItem { Text = "Praça Militar", Value = "1" });
    ListaCategoria.Add(new SelectListItem { Text = "Oficial Militar", Value = "2" });
}
<script>
    jQuery(function ($) {
        $("#CPF").mask("999.999.999-99");
        $('#TelRes').mask("(99) 9999-9999?9");
        $('#TelRes').change(function (event) {
            var target, phone, element;
            target = (event.currentTarget) ? event.currentTarget : event.srcElement;
            phone = target.value.replace(/\D/g, '');
            element = $(target); element.unmask();
            if (phone.length > 10) {
                element.mask("(99) 99999-999?9");
            }
            else {
                element.mask("(99) 9999-9999?9");
            }
        });
        $('#TelCel').mask("(99) 9999-9999?9");
        $('#TelCel').change(function (event) {
            var target, phone, element;
            target = (event.currentTarget) ? event.currentTarget : event.srcElement;
            phone = target.value.replace(/\D/g, '');
            element = $(target); element.unmask();
            if (phone.length > 10) {
                element.mask("(99) 99999-999?9");
            }
            else {
                element.mask("(99) 9999-9999?9");
            }
        });
        $("#CEP").mask("99999-999");
        $("#Numpol").mask("999.999-9");
        $("#DataNasc").mask("99/99/9999");

    });

    function retira_acentos(palavra) {
        com_acento = 'áàãâäéèêëíìîïóòõôöúùûüçÁÀÃÂÄÉÈÊËÍÌÎÏÓÒÕÖÔÚÙÛÜÇ';
        sem_acento = 'aaaaaeeeeiiiiooooouuuucAAAAAEEEEIIIIOOOOOUUUUC';
        nova = '';
        for (i = 0; i < palavra.length; i++) {
            if (com_acento.search(palavra.substr(i, 1)) >= 0) {
                nova += sem_acento.substr(com_acento.search(palavra.substr(i, 1)), 1);
            }
            else {
                nova += palavra.substr(i, 1);
            }
        }
        return nova.toUpperCase();
    }

    function getEndereco() {
        if ($.trim($("#CEP").val()) != "") {

            var cep_code = $("#CEP").val();
            if (cep_code.length <= 0) return;
            $.get("http://apps.widenet.com.br/busca-cep/api/cep.json", { code: cep_code },
               function (result) {
                   if (result.status != 1) {
                       alert(result.message || "Houve um erro desconhecido");
                       return;
                   }
                   $("#Municipio").val(retira_acentos(unescape(result.city)));
                   $("#Bairro").val(unescape(result.district));
                   $("#Rua").val(unescape(result.address));
                   $("#UF").val(unescape(result.state));
               });
        }
    }

    function showDivDadoMilitar() {
        $(".divMilitar").show('slow');
        $(".divNaoMilitar").hide('slow');
    };

    function hideDivDadoMilitar() {
        $(".divMilitar").hide('slow');
        $(".divNaoMilitar").show('slow');
    };

</script>

<style>
    .form-horizontal .control-label {
        text-align: left;
    }
</style>

<h2>Atualizar Participante</h2>
<span> Preencha os dados a seguir</span>
<hr />

@if (TempData["mensagem"] != "")
{
    <div class="alert alert-info">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["mensagem"]
    </div>
}

@if (TempData["atencao"] != "")
{
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["atencao"]
    </div>
}

@using (Html.BeginForm("AtualizarPessoas", "Pessoa", FormMethod.Post))
{
    @Html.ValidationSummary(true, null, new { @style = "color: #f00" })

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Dados Pessoais</h3>
        </div>
        <div class="panel-body" id="dadospessoais">
            <div class="form-group">
                @Html.LabelFor(model => model.Nome, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Nome, new { @class = "form-control pt1", @placeholder = "Nome Completo", @required = true })
                    @Html.ValidationMessageFor(model => model.Nome, null, new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control pt1", @placeholder = "Email" })
                    @Html.ValidationMessageFor(model => model.Email, null, new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CPF, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.CPF, new { @class = "form-control pt1", @placeholder = "CPF", @required = true })
                    @Html.ValidationMessageFor(model => model.CPF, null, new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Estado Civil", new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(model => model.EstadoCivil, ModelListas.ListaEstadoCivil, "-- Selecione o Estado Civil --", new { @class = "form-control pt1", @style = "width:60%", @required = true })
                    @Html.ValidationMessageFor(model => model.EstadoCivil, null, new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Sexo, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(model => model.Sexo, ListaSexo, "-- Selecione o Sexo --", new { @class = "form-control pt1", @style = "width:60%", @required = true })
                    @Html.ValidationMessageFor(model => model.Sexo, null, new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Data de Nascimento", new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.DataNasc, new { @class = "form-control pt1", @placeholder = "Data de Nascimento", @required = true })
                    @Html.ValidationMessageFor(model => model.DataNasc, null, new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RG, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.RG, new { @class = "form-control pt1", @placeholder = "RG" })
                    @Html.ValidationMessageFor(model => model.RG, null, new { @style = "color: #f00" })
                </div>
            </div>

            

            <div class="form-group divNaoMilitar" style="display: none">
                @Html.LabelFor(model => model.Profissao, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Profissao, null, new { @class = "form-control", @placeholder = "Profissão" })
                </div>
            </div>


            

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Endereço</h3>
        </div>
        <div class="panel-body" id="endereco">

            <div class="form-group">
                @Html.LabelFor(model => model.CEP, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.CEP, new { @class = "form-control pt3", @placeholder = "CEP", @onblur = "getEndereco()", @required = true })
                    @Html.ValidationMessageFor(model => model.CEP, null, new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Rua, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Rua, new { @class = "form-control pt3 maxlength", @placeholder = "Rua", @required = true })
                    @Html.ValidationMessageFor(model => model.Rua, null, new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Numero, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Numero, new { @class = "form-control pt3 maxlength", @placeholder = "Número", @required = true })
                    @Html.ValidationMessageFor(model => model.Numero, null, new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Complemento, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Complemento, new { @class = "form-control maxlength", @placeholder = "Complemento" })
                    @Html.ValidationMessageFor(model => model.Complemento, null, new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Bairro, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Bairro, new { @class = "form-control pt3", @placeholder = "Bairro", @required = true })
                    @Html.ValidationMessageFor(model => model.Bairro, null, new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Municipio, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(model => model.Municipio, Cidades, "-- Selecione o Município --", new { @class = "form-control pt3", @placeholder = "Município", @required = true })
                    @Html.ValidationMessageFor(model => model.Municipio, null, new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UF, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(model => model.UF, ListaUF, "-- Selecione a UF --", new { @class = "form-control pt3", @style = "width:30%", @required = true })
                    @Html.ValidationMessageFor(model => model.UF, null, new { @style = "color: #f00" })
                </div>
            </div>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Dados de Contato</h3>
        </div>
        <div class="panel-body" id="dadosdecontato">
            <div class="form-group">
                @Html.Label("Telefone Residencial", new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.TelRes, new { @class = "form-control", @placeholder = "Telefone Residêncial" })

                </div>
            </div>

            <div class="form-group">
                @Html.Label("Telefone Celular", new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.TelCel, new { @class = "form-control pt4", @placeholder = "Telefone Celular", @required = true })
                    @Html.ValidationMessageFor(model => model.TelCel, null, new { @style = "color: #f00" })
                </div>
            </div>


            <input type="submit" value="Confirmar Dados" class="btn btn-primary" />

        </div>
    </div>
}

<script>
    jQuery(function ($) {
        $(document).ready(function () {
            $('.btnPresenca').on('click', function () {
                confirmarPresenca(this);
            });
        });


        function confirmarPresenca(elemente) {
            console.log($(elemente).data('id'));
            var idPS = $(elemente).data('id');

            $.ajax({
                url: "/Evento/AlterarStatus/",
                data: { id: idPS },
                type: "GEt",
                dataType: "json",
                //beforeSend: function (XMLHttpRequest) {
                //    $("#resultado").empty();
                //    $("#resultado").append("inicio");
                //},
                error: function (XMLHttpRequest, textStatus, errorThrown) { //se error
                    $("#divMsgError").show();
                    setInterval(function () {
                        $('#divMsgError').fadeOut(9000);
                    }, 10);
                },
                success: function (data, textStatus, XMLHttpRequest) { //se sucesso

                    console.log("Presença confirmado com sucesso");

                    if (data.tipo == "0") //Estava ausente
                    {
                        $("#divMsgSucesso").text("Foi confirmada a presença de " + data.nome + ".");
                        $(elemente).text("Presente");
                        $(elemente).removeClass("btn-warning");
                        $(elemente).addClass("btn-primary");

                    }
                    else { //Já estava presente
                        $("#divMsgSucesso").text(data.nome + " já esta com a presença confirmada.");
                    }

                    $("#divMsgSucesso").show();

                    setTimeout(function () {
                        $('#divMsgSucesso').fadeOut(5000);
                    }, 10);

                }
            });

        }
    });

</script>