﻿@model SelectList
@using BHTecEventos.AuxCode
@{
    ViewBag.Title = "Index";
    ViewBag.T = "Index";
    Layout = "~/Views/Shared/_EventoLayout.cshtml";

    var db = new BHTecEventos.Models.EntitiesBHTecEventos();
    var ModelListas = new BHTecEventos.Models.PessoaModel();
    ModelListas.ListaEventos = new SelectList(db.Eventos.Where(a => a.Ativo == true).OrderBy(n => n.Nome), "Id", "Nome");
}

<h2>Busca Pessoas Cadastradas</h2>
@Html.ActionLink("Cadastrar Pessoa", "CadastrarPessoas","Pessoa",null,null)
<hr />
@using (Ajax.BeginForm("Busca", "Evento", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, LoadingElementId = "ajax-loader", UpdateTargetId = "result" }))
{
    <div class="form-group">
        <div class="col-md-5">
            @Html.Label("Nome:")
            @Html.TextBox("Nome", null, new { @class = "form-control", @placeholder = "Nome" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-5">
            @Html.Label("Evento:")
            @Html.DropDownList("Evento", ModelListas.ListaEventos, "-- Selecione o Seminário --", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            @Html.Label("Data Inicio:")
            @Html.TextBox("DataInicio", null, new { @class = "form-control pt1", @type = "date", @placeholder = "Data Inicio" })
        </div>
        <div class="col-md-2">
            @Html.Label("Data Final:")
            @*@Html.TextBox("DataFim", DateTime.Today.Year + "-" + DateTime.Today.Month.ToString("#00") + "-" + DateTime.Today.Day.ToString("#00"), new { @class = "form-control pt2", @type = "date", @placeholder = "Data Fim" })*@
            @Html.TextBox("DataFim", DateTime.Today.ToString("yyyy-MM-dd"), new { @class = "form-control pt2", @type = "date", @placeholder = "Data Fim" })
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary" style="margin-top: 25px; clear: both">
                Buscar   <i class="fa fa-search"></i>
            </button>
            <img id="ajax-loader" src="~/Images/ajax-loader.gif" style=" display:none; margin-top: 1%" />
        </div>
    </div>
    @*<div class="form-group">
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary" style="margin-top: 15px; clear: both">
                Buscar   <i class="fa fa-search"></i>
            </button>
            <img id="ajax-loader" src="~/Images/ajax-loader.gif" style=" display:none; margin-top: 1%" />
        </div>*@
        @*<div class="col-md-2">
            @Html.ActionLink("Cadastrar Pessoa", "CadastraPessoa", "Pessoa", new { @class = "btn btn-primary", @style = "margin-top: 15px; clear: both" })
        </div>
    </div>*@
}

<div id="result"></div>