﻿
@model BHTecEventos.Models.CadastroEventoModel
@{
    ViewBag.Title = "CadastroEvento";
    Layout = "~/Views/Shared/_EventoLayout.cshtml";
    List<SelectListItem> ListaStatus = new List<SelectListItem>();
    ListaStatus.Add(new SelectListItem { Value = true.ToString(), Text = "Aberto" });
    ListaStatus.Add(new SelectListItem { Value = false.ToString(), Text = "Fechado" });

    var db = new BHTecEventos.Models.EntitiesBHTecEventos();
    var ModelListas = new BHTecEventos.Models.CadastroEventoModel();
    ModelListas.ListaUsuarios = new SelectList(db.Usuarios.OrderBy(n => n.Nome), "Codigo", "Nome");

}

<script>
    jQuery(function ($) {
        $("#DataLimite").mask("99/99/9999");
        $("#DataAcontecimento").mask("99/99/9999");
    });
</script>

<h2>Cadastrar Eventos</h2>
<small style="margin-left: 2px; color: lightblue gray; font-size: 15px">Adicione um novo Evento</small>
<hr />
@using (Html.BeginForm("CadastrarEvento", "Evento", FormMethod.Post))
{
    @Html.ValidationSummary(true);

    <div class="form-group">       
        <div class="col-lg-8">
            @Html.Label("Nome:")
            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control pt1", @placeholder = "Nome", @required = true })
            @Html.ValidationMessageFor(model => model.Nome, null, new { @style = "color: #f00" })
        </div>
    </div>

    <div class="form-group">       
        <div class="col-lg-4">
            @Html.Label("Data Limite:")
            @Html.TextBoxFor( model => model.DataLimite, new { @class = "form-control pt1", @placeholder = "Data Limite", @required = true })
            @Html.ValidationMessageFor(model => model.DataLimite, null, new { @style = "color: #f00" })
        </div>

        <div class="col-lg-4">
            @Html.Label("Data do Evento:")
            @Html.TextBoxFor(model => model.DataAcontecimento, new { @class = "form-control pt1", @placeholder = "Data do Seminário", @required = true })
            @Html.ValidationMessageFor(model => model.DataAcontecimento, null, new { @style = "color:#f00" })
        </div>

    </div>

   

    <div class="form-group">        
        <div class="col-lg-4">
            @Html.Label("Limite de Pessoas:")
            @Html.TextBoxFor(model => model.LimitePessoas, new { @class = "form-control pt1", @placeholder = "Limite de Pessoas", @required = true })
            @Html.ValidationMessageFor(model => model.LimitePessoas, null, new { @style = "color: #f00" })
        </div>

        <div class="col-lg-4">
            @Html.Label("Carga Horária:")
            @Html.TextBoxFor(model => model.CargaHoraria, new { @class = "form-control pt1", @placeholder = "Carga Horária (Em Horas)", @required = true })
            @Html.ValidationMessageFor(model => model.CargaHoraria, null, new { @style = "color: #f00" })
        </div>

        <div class="col-md-4">
            @Html.Label("Status do Evento:")
            @Html.DropDownListFor(model => model.Ativo, ListaStatus, "-- Selecione o Status --", new { @class = "form-control pt1", @required = true })
            @Html.ValidationMessageFor(model => model.Ativo, null, new { @style = "color: #f00" })
        </div>
    </div>

    <div class="form-group">       
        <div class="col-lg-8">
            @Html.Label("Palestrante:")
            @Html.TextBoxFor(model => model.Organizador, new { @class = "form-control pt1", @placeholder = "Palestrante", @required = true })
            @Html.ValidationMessageFor(model => model.Organizador, null, new { @style = "color: #f00" })
        </div>
    </div>

    

    

    <div class="form-group">
        <div class="col-md-2">
            <input type="submit" value="Cadastrar" class="btn btn-primary" style="margin-top: 15px; clear: both">
        </div>
    </div>
    
   
}

