﻿@model BHTecEventos.Models.PessoaModel

@{
    ViewBag.Title = "Index";
    ViewBag.T = "Index";
    Layout = "~/Views/Shared/_EventoLayout.cshtml";

    var db = new BHTecEventos.Models.EntitiesBHTecEventos();
    var ModelListas = new BHTecEventos.Models.PessoaModel();
    ModelListas.ListaEventos = new SelectList(db.Eventos.Where(a => a.Ativo == true && a.DataAcontecimento > System.DateTime.Now).OrderBy(n => n.Nome), "Id", "Nome");

    var ListEventos = db.Eventos.Where(a => a.Ativo == true && a.DataAcontecimento > System.DateTime.Now).OrderBy(n => n.Nome);
}


<div style="text-align:center; align-items:center">
    @*<img src="~/Images/logo_bhtec.jpg" width="200" />*@
    @if (TempData["mensagem"] != "")
    {
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @TempData["mensagem"]
        </div>
    }

    @if (TempData["atencao"]!="")
    {
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @TempData["atencao"]
        </div>
    }
</div>
@using (Html.BeginForm("RegistraCandidatoAoEvento", "Evento", FormMethod.Post))
{
    @Html.ValidationSummary(true, null, new { @style = "color: #f00" })

    <div class="form-group">
        <div class="col-md-5">
            <h4>Olá @Html.Display("Nome")</h4>
            <p>Escolha o evento que deseja participar e clique em 'Inscrever'</p>
        </div>
    </div>

    if (ListEventos.Count() == 0)
    {
        <div class="alert alert-info">
            <h4>Não existem Cursos disponíveis no momento.</h4>
        </div>
    }
    else
    {
        <div class="form-group">
            <div class="col-md-12">
                @*@Html.LabelFor(model => model.Evento)
                    @Html.DropDownList("Evento", ModelListas.ListaEventos, "-- Selecione o Evento --", new { @class = "form-control" })*@
                <div class="table-responsive">
                    <table class="table table-striped" style="background-color:#fff; margin-top:1%">
                        <tr>
                            <th width="50%">Evento</th>
                            <th>Data</th>
                            <th>Carga Horária</th>
                            <th style="width:3%">Presença</th>
                        </tr>


                        @foreach (var item in ListEventos)
                        {
                            <tr>
                                <td>@item.Nome</td>                                
                                <td>@item.DataAcontecimento.ToString("dd/MM/yyyy")</td>
                                <td> @item.CargaHoraria</td>
                                @{
                            var Evento = db.Pessoas_Eventos.FirstOrDefault(n => n.IdPessoa == Model.Id && n.IdEvento == item.Id);

                            if (Evento != null)
                            {
                                <td style="width:3%">
                                    <p style="color:green">Inscrito</p>
                                </td>
                            }
                            else
                            {

                                <td style="width:3%">
                                    @Html.ActionLink("Inscrever", "RegistraCandidatoAoEvento", "Evento", new { CPF = Model.CPF, Evento = item.Id }, new { @class = "btn btn-primary btn-xs" })
                                </td>
                            }
                                }
                            </tr>
                        }


                    </table>

                </div>





            </div>
        </div>

        @*<div class="form-group">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary" style="margin-top: 15px; clear: both">
                        Participar do Evento
                    </button>
                    <img id="ajax-loader" src="~/Images/ajax-loader.gif" style=" display:none; margin-top: 1%" />
                </div>
            </div>*@
    }

}
<div id="result"></div>
