﻿@model List<BHTecEventos.Models.Pessoas_Eventos>
@{
    ViewBag.Title = "Certificado";
    Layout = "~/Views/Shared/_EventoLayout.cshtml";
}
@if (TempData["mensagem"] != null)
{
    <div class="alert alert-success">
        @TempData["mensagem"].ToString()
    </div>
}

<small style="margin-left:2px;color:lightblue gray; font-size:15px">
  Olá Fulano. Os seguintes certificados estão disponíveis para impressão:</small>
<hr />
@if (Model != null)
{
    if (Model.Count != 0)
    {
        <div class="table-responsive">
            <table class="table table-striped" style="background-color:#fff; margin-top:1%">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data de Realização</th>
                        <th>Palestrante</th>                        
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => item.Eventos.Nome)</td>
                            <td>@Html.DisplayFor(model => item.Eventos.DataAcontecimento)</td>                            
                            <td>@Html.DisplayFor(model => item.Eventos.Organizador)</td>                            
                            <td>
                                @Html.ActionLink("Abrir", "VisualizarPessoa", new { idPes = item.IdPessoa, idSemi = item.IdEvento }, new { @class = "btn btn-default btn-xs" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <label>Nenhum Seminário.</label>
    }
}



