﻿@model BHTecEventos.Models.EventoModel
@{
    ViewBag.Title = "IndexEvento";
    Layout = "~/Views/Shared/_EventoLayout.cshtml";
    
    List<SelectListItem> ListaStatus = new List<SelectListItem>();
    ListaStatus.Add(new SelectListItem { Value = true.ToString(), Text = "Aberto" });
    ListaStatus.Add(new SelectListItem { Value = false.ToString(), Text = "Fechado" });

    var db = new BHTecEventos.Models.EntitiesBHTecEventos();
    var ModelListas = new BHTecEventos.Models.CadastroEventoModel();
    ModelListas.ListaUsuarios = new SelectList(db.Usuarios.OrderBy(n => n.Nome), "Codigo", "Nome");
    
}

<script>
    jQuery(function ($) {
        $("#DataLimite").mask("99/99/9999");
        $("#DataAcontecimento").mask("99/99/9999");
    });
</script>
<h2>Editar Evento</h2>
<small style="margin-left: 2px; color: lightblue gray; font-size: 15px">Altere as informações a seguir, se necessário.</small>
<hr />
@using (Html.BeginForm())
{
    @*@Html.AntiForgeryToken()*@

    <fieldset>
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="col-md-8">
                @Html.LabelFor(model => model.Nome)
                @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", @placeholder = "Digite o nome do seminário" })
                @Html.ValidationMessageFor(model => model.Nome, null, new { @style = "color: #f00" })
            </div>
        </div>

        <div class="form-group">            
            <div class="col-lg-4">
                @Html.LabelFor(model => model.DataLimite)                              
                @Html.TextBoxFor(model => model.DataLimite, new { @class = "form-control pt1" })
                @Html.ValidationMessageFor(model => model.DataLimite, null, new { @style = "color: #f00" })
            </div>

            <div class="col-lg-4">
                @Html.LabelFor(model => model.DataAcontecimento)                
                @Html.TextBoxFor(model => model.DataAcontecimento, new { @class = "form-control pt1"})
                @Html.ValidationMessageFor(model => model.DataAcontecimento, null, new { @style = "color:#f00" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-8">
                @Html.LabelFor(model=>model.Organizador)
                @Html.TextBoxFor(model => model.Organizador, new { @class = "form-control", @placeholder = "Digite o organizador do seminário" })
                @Html.ValidationMessageFor(model => model.Organizador, null, new { @style="color:#f00"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model=>model.LimitePessoas)
                @Html.TextBoxFor(model => model.LimitePessoas, new { @class = "form-control", @placeholder = "Digite o limite de pessoas" })
                @Html.ValidationMessageFor(model => model.LimitePessoas, null, new { @style="color:#f00"})
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.CargaHoraria)
                @Html.TextBoxFor(model => model.CargaHoraria, new { @class = "form-control", @placeholder = "Digite a Carga Horária (Em Horas)" })
                @Html.ValidationMessageFor(model => model.CargaHoraria, null, new { @style = "color:#f00" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-8">
                @Html.Label("Status do Seminário")
                @Html.DropDownListFor(model => model.Ativo, ListaStatus, "-- Selecione o Status --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Ativo, null, new { @style = "color: #f00" })
            </div>
        </div>

        <div class="form-group col-md-7">
            @Html.ValidationSummary(true, null, new { @style = "color: #f00" })
            <input type="submit" value="Salvar" class="btn btn-primary" />
        </div>
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
