﻿@model List<BHTecEventos.Models.Eventos>
@{
    ViewBag.Title = "IndexEvento";
    Layout = "~/Views/Shared/_EventoLayout.cshtml";
}

<script>
    jQuery(function ($) {
        $("#DataCriado").mask("99/99/9999");
        $("#DataAcontecimento").mask("99/99/9999");
    });
</script>
<h2>Eventos Cadastrados</h2>
@Html.ActionLink("Novo Evento", "CadastrarEvento", null, "Evento")
<hr />
@Html.ValidationSummary(true)
@if (TempData["mensagem"] != "")
{
    <div class="alert alert-info">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["mensagem"]
    </div>
}

@if (TempData["atencao"] != "")
{
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["atencao"]
    </div>
}
<small style="margin-left:2px;color:lightblue gray; font-size:15px">Selecione um seminário para visualizar ou alterar.</small>
<hr />
@if (Model != null)
{
    if (Model.Count != 0)
    {
        <div class="table-responsive">
            <table class="table table-striped" style="background-color:#fff; margin-top:1%">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data de Criação</th>
                        <th>Data Limite</th>
                        <th>N° Pessoas</th>
                        <th>Palestrante</th>                        
                        <th>Status</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => item.Nome)</td>
                            <td>@Html.DisplayFor(model => item.DataCriado)</td>                            
                            <td>@Html.DisplayFor(model => item.DataLimite)</td>                            
                            <td>@Html.DisplayFor(model => item.LimitePessoas)</td>
                            <td>@Html.DisplayFor(model => item.Organizador)</td>                            
                            <td>
                                @if (item.Ativo)
                                {
                                    <p style="color:green">Aberto</p>
                                }
                                else
                                {
                                    <p style="color:red">Fechado</p>
                                }
                            
                            </td>
                            <td>
                                @Html.ActionLink("Abrir", "EditEvento", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })

                                @Html.ActionLink("Deletar", "DeleteEvento", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <label>Nenhum Seminário.</label>
    }
}
