﻿@model BHTecEventos.Models.EventoCPFModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Externo.cshtml";
    //Layout = "~/Views/Shared/_EventoLayout.cshtml";
}

<style>
    #loginadmin {
        padding: 3%;
        width: 35%;
        margin: auto;
        background-color: #f7f7f7;
        -moz-box-shadow: 0 0 6px #a4a4a4;
        -webkit-box-shadow: 0 0 6px #a4a4a4;
        box-shadow: 0 0 6px #a4a4a4;
        border-radius: 8px;
    }

    .Evento_title {
        color: #888888;
        text-align: center;
    }

    .bemvindo_title {
        color: #888888;
        text-align: center;
    }

    body {
        background-image: url(../Images/bg2.png);
    }

    #logo {
        width: 50%;
        height: 50%;
        margin-left: 25%;
        padding-bottom: 2%;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    @@media all and (max-width: 1000px) {
        #logo {
            margin-left: 30%;
        }

        #loginadmin {
            width: 95%;
        }

        h2 {
            font-size: 25px;
        }
    }
</style>


<script>
    jQuery(function ($) {
        $("#CPF").mask("999.999.999-99");
    });
</script>
<div id="loginadmin">
    <div id="logo">
        <img src="~/Images/logo_bhtec.jpg" />
    </div>
    <hr />
    <h5 class="bemvindo_title">BEM VINDO AO SISTEMA INOVA UFMG</h5>
    <hr />
    <h4 class="Evento_title"><strong>EVENTOS PROMOVIDOS PELA INOVA UFMG</strong></h4>
    <hr style="clear: both" />
    @using (Html.BeginForm("BuscaCadastroPessoa", "Evento", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(model => model.CPF)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.CPF, new { @class = "form-control", @placeholder = "CPF" })
                @Html.ValidationMessageFor(model => model.CPF, null, new { @style = "color: #f00" })
            </div>

            @Html.ValidationSummary(true, null, new { @style = "color: #f00; margin-top: 2%" })
            <p>
                <input type="submit" value="Continuar" class="btn btn-lg btn-primary btn-block" style="margin-top:5%" />
            </p>
        </fieldset>
    }
</div>