﻿@model List<BHTecEventos.Models.ListaPessoasDoEvento>
@if (Model != null)
{

    if (Model.Count != 0)
    {
        @Html.Label("Foram encontrados " + Model.Count + " Resultados")
        
        <div id="divMsgSucesso" class="alert alert-success" style="display: none;">
            Presença confirmado com sucesso.
        </div>

        <div id="divMsgError" class="alert alert-danger" style="display: none;">
            Não foí possível confirma a presença ou já se encontra presente.
        </div>

        <style>
            .btn-xs {
                margin-left: 10px;
            }
        </style>
        <table class="table table-striped table-bordered" style="background-color: #fff; margin-top: 1%" id="dataTables-example">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th> CPF</th>
                    <th> Email</th>
                    <th> Telefone Cel.</th>
                    <th style="width:3%">Presença</th>
                    <th style="width:3%">Opções</th>
                    <th style="width:10%">Certificado</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nome</td>
                        <td>@item.CPF</td>
                        <td> @item.Email</td>
                        <td>@item.TelCel</td>
                        @*<td data-id="@item.IdPessoa">*@
                        <td>
                            @if (item.Presenca)
                            {
                                <p style="color:green">Presente</p>
                            }
                            else
                            {
                                <button data-id="@item.IdPessoa|@item.IdEvento" class="btn btn-primary btn-sm btnPresenca">
                                    Presente
                                </button>
                            }
                        </td>
                        @*<td>
                                <button data-id="@item.IdPessoa|@item.IdEvento" class="btn btn-primary btn-sm btnPresenca">
                                    Presente
                                </button>
                            </td>*@

                        <td style="width:3%">
                            @Html.ActionLink("Abrir", "VisualizarPessoa", new { idPes = item.IdPessoa, idSemi = item.IdEvento }, new { @class = "btn btn-default btn-xs" })
                        </td>
                        <td style="width:3%">
                            @Html.ActionLink("Emitir Certificado", "ComprovanteEvento", new { idPes = item.IdPessoa, idSmr = item.IdEvento }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        @Html.Label("Foram encontrados " + Model.Count + " Resultados")

    }
    else
    {
        @Html.Label("Nenhum Resultado encontrado")
    }
}

    @*}

        <div id="result"></div>*@

    @*jQuery(function ($) {
        $(document).ready(function () {*@
    <script>
        jQuery(function ($) {
            $(document).ready(function () {
                $('.btnPresenca').on('click', function () {
                    confirmarPresenca(this);
                });
            });


            function confirmarPresenca(elemente) {
                console.log($(elemente).data('id'));
                var idPS = $(elemente).data('id');

                $.ajax({
                    url: "/Evento/AlterarStatus/",
                    data: { id: idPS },
                    type: "GEt",
                    dataType: "json",
                    //beforeSend: function (XMLHttpRequest) {
                    //    $("#resultado").empty();
                    //    $("#resultado").append("inicio");
                    //},
                    error: function (XMLHttpRequest, textStatus, errorThrown) { //se error
                        $("#divMsgError").show();
                        setInterval(function () {
                            $('#divMsgError').fadeOut(9000);
                        }, 10);
                    },
                    success: function (data, textStatus, XMLHttpRequest) { //se sucesso
                        //var cassio = $(data);
                        console.log(data.pres);
                        console.log(data.nome);
                        console.log(data.tipo);

                        console.log("Presença confirmado com sucesso");

                        if (data.tipo == "0") //Estava ausente
                        {
                            $("#divMsgSucesso").text("Foi confirmada a presença de " + data.nome + ".");
                        }
                        else { //Já estava presente
                            $("#divMsgSucesso").text(data.nome + " já esta com a presença confirmada.");
                        }

                        $("#divMsgSucesso").show();

                        setTimeout(function () {
                            $('#divMsgSucesso').fadeOut(5000);
                        }, 10);

                    }
                });

            }
        });

    </script>