﻿@model SelectList
@using BHTecEventos.AuxCode
@{
    ViewBag.Title = "Index";
    ViewBag.T = "Index";
    Layout = "~/Views/Shared/_EventoLayout.cshtml";
    
}



<div style="text-align:center; align-items:center">
    <img src="~/Images/logo_bhtec.jpg" width="300" />
    @if (TempData["mensagem"] != "")
    {
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @TempData["mensagem"]
        </div>
    }
    
    @if (TempData["atencao"] != "")
    {
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @TempData["atencao"]
        </div>
    }

</div>
