﻿@model BHTecEventos.Models.RelEventoModel
@using BHTecEventos.AuxCode
@{
    ViewBag.Title = "relatório";
    Layout = "~/Views/Shared/_EventoLayout.cshtml";
}
<h2>Relatório</h2>

@if (TempData["mensagem"] != "")
{
    <div class="alert alert-info">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["mensagem"]
    </div>
}

@if (TempData["atencao"] != "")
{
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["atencao"]
    </div>
}
@if (Model != null)
{
    <div id="container">
        <div>
            <hr />
            @*<p><strong>Evento: </strong> @Model.NomeEvento</p>
    <p><strong>Total de Inscritos: </strong>@Model.TotalIncritos</p>
    <p><strong>Total de Presentes: </strong>@Model.Postos.Sum(i => i.QuantPresentes).ToString()</p>

    <hr />
            *@
            <div>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Evento</th>
                            <th style="width: 20%">Inscritos</th>
                            <th style="width: 20%">Presentes</th>

                        </tr>
                    </thead>
                    <tbody>
                        @{foreach (var item in Model.Postos.OrderBy(l => l.Cod))
                        {
                            <tr>
                                <td>@item.Descricao</td>
                                <td>@item.Quant</td>
                                <td>@item.QuantPresentes</td>

                            </tr>
                        }
                        }
                        <tr style="background-color: #e0e5fb">
                            <td style="background-color: #e0e5fb">Total</td>
                            <td style="background-color: #e0e5fb">@Model.Postos.Sum(i => i.Quant).ToString()</td>
                            <td style="background-color: #e0e5fb">@Model.Postos.Sum(i => i.QuantPresentes).ToString()</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}