﻿@model BHTecEventos.Models.ExibePessoaModel
@using BHTecEventos.AuxCode

@{
    ViewBag.Title = "Exibe Pessoa";
    Layout = "~/Views/Shared/_EventoLayout.cshtml";

    var db = new BHTecEventos.Models.EntitiesBHTecEventos();
}

<style>
    #DM {
        width: 180px;
    }
</style>
<script>
    $(document).ready(function () {
        $('#h_endereco').click(function () {
            $('#endereco').slideToggle('slow');
        });
        $('#h_dadosdecontato').click(function () {
            $('#dadosdecontato').slideToggle('slow');
        });
        $('#h_dadospessoais').click(function () {
            $('#dadospessoais').slideToggle('slow');
        });
        $('#h_Eventos').click(function () {
            $('#Eventos').slideToggle('slow');
        });
    });
</script>
<script>
    function Sucess() {
        document.getElementById("SS").style.display = "inline";
    }
    function Beg() {
        document.getElementById("SS").style.display = "none";
    }
    function Sucess1() {
        document.getElementById("SS1").style.display = "block";
    }
    function Beg1() {
        document.getElementById("SS1").style.display = "none";
    }
</script>
<fieldset style="clear: both; margin-top: 70px;">
    <div class="form-group" style="margin-left: 1.5%">
        <h2 class="modal-title">Nome: @Model.Pessoa.Nome</h2>
    </div>
    <hr />
    <div class="panel panel-default" style="width: 45%; float: left;  margin-left: 1.5%">
        <div class="panel-heading" id="h_dadospessoais">
            <h3 class="panel-title">Dados Pessoais</h3>
        </div>
        <div class="panel-body" id="dadospessoais">
            <div class="form-group">
                <label style="margin-left: 15px">Estado Civil: </label>
                @{ string estadoCivil = TT.getEstadoCivil(Convert.ToInt32(Model.Pessoa.EstadoCivil));}
                @estadoCivil
                <label style="margin-left: 15px">Sexo:  </label>
                @Model.Pessoa.Sexo
            </div>

            <div class="form-group">
                <label style="margin-left: 15px">Data de Nascimento:  </label>
                @Model.Pessoa.DataNascimento
            </div>

            <div class="form-group">
                <label style="margin-left: 15px">CPF:  </label>
                @Model.Pessoa.CPF
            </div>

            <div class="form-group">
                <label style="margin-left: 15px">RG:  </label>
                @Model.Pessoa.RG
            </div>

            <div class="form-group">
                <label style="margin-left: 15px">Profissão:  </label>
                @Model.Pessoa.Profissao
            </div>
        </div>
    </div>
    <div class="panel panel-default" style="width: 45%; float: left; margin-left: 1.5%">
        <div class="panel-heading" id="h_endereco">
            <h3 class="panel-title">Endereço</h3>
        </div>
        <div class="panel-body" id="endereco">
            <div class="form-group">
                <label style="margin-left: 15px">Rua:  </label>
                @Model.Pessoa.Rua
                <label style="margin-left: 15px">Número:  </label>
                @Model.Pessoa.Numero
            </div>

            <div class="form-group">
                <label style="margin-left: 15px">Bairro:  </label>
                @Model.Pessoa.Bairro
            </div>

            <div class="form-group">
                <label style="margin-left: 15px">Complemento:  </label>
                @Model.Pessoa.ComplementoEndereco
            </div>

            <div class="form-group">
                <label style="margin-left: 15px">Município:  </label>
                @Model.Pessoa.Municipio
            </div>

            <div class="form-group">
                <label style="margin-left: 15px">UF:  </label>
                @Model.Pessoa.UF
            </div>

            <div class="form-group">
                <label style="margin-left: 15px">CEP:  </label>
                @Model.Pessoa.CEP
            </div>
        </div>
    </div>
    <div class="panel panel-default" style="width: 45%; float: left; margin-left: 1.5%">
        <div class="panel-heading" id="h_dadosdecontato">
            <h3 class="panel-title">Dados de Contato</h3>
        </div>
        <div class="panel-body" id="dadosdecontato">
            <div class="form-group">
                <label style="margin-left: 15px">Telefone Residêncial:  </label>
                @Model.Pessoa.TelRes
                </div>
            <div class="form-group">
                <label style="margin-left: 15px">Email:  </label>
                @Model.Pessoa.Email
            </div>

            <div class="form-group">
                <label style="margin-left: 15px">Telefone Celular:  </label>
                @Model.Pessoa.TelCel
            </div>
        </div>
    </div>
    <div class="panel panel-default" style="width: 45%; float: left; margin-left: 1.5%">
        <div class="panel-heading" id="h_Eventos">
            <h3 class="panel-title">Evento que Participou</h3>
        </div>
        <div class="panel-body" id="Eventos">

            @foreach (var item in Model.QntEvento)
            {
                <div class="form-group">
                    <label style="margin-left: 15px">Evento:  </label>
                    @item.Eventos.Nome
                </div>
                <div class="form-group">
                    <label style="margin-left: 15px">Data Inscrição:  </label>
                    @item.DataInscricao
                </div>
                <div class="form-group">
                    <label style="margin-left: 15px">Prensente:  </label>
                    @if (item.Presenca)
                    {
                    <text>Sim</text>
                    }
                    else
                    {
                    <text>Não</text>
                    }
                    <br />
                </div>
            }
        </div>
    </div>

    <br />
    <div style="width: 90%; float: left; margin-left: 1.5%;">
        @Html.ActionLink("Emitir Certificado", "ComprovanteEvento", new { idPes = Model.Pessoa.Id, idSmr = Model.Evento.Id }, new { @class = "btn btn-primary" })
    </div>
</fieldset>
