﻿@model BHTecEventos.Models.Usuarios

@{
    ViewBag.Title = "CadastrarUsuario";
    Layout = "~/Views/Shared/_EventoLayout.cshtml";
}

<script>

    jQuery(function ($) {
        $("#CPF").mask("999.999.999-99");
        $('#Telefone').mask("(99) 9999-9999?9");
        $('#Telefone').change(function (event) {
            var target, phone, element;
            target = (event.currentTarget) ? event.currentTarget : event.srcElement;
            phone = target.value.replace(/\D/g, '');
            element = $(target); element.unmask();
            if (phone.length > 10) {
                element.mask("(99) 99999-999?9");
            }
            else {
                element.mask("(99) 9999-9999?9");
            }
        });       

    });
</script>
<h2>Cadastrar Usuário</h2>
@if (!String.IsNullOrEmpty(TempData["mensagem"].ToString()))
{
    <div class="alert alert-info">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["mensagem"]
    </div>
}

@if (!String.IsNullOrEmpty(TempData["atencao"].ToString()))
{
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["atencao"]
    </div>
}
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        <div class="col-lg-8">
            @Html.LabelFor(model => model.Nome)
            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control pt1", @placeholder = "Nome", @required = true })
            @Html.ValidationMessageFor(model => model.Nome)
        </div>
    </div>


    <div class="form-group">
        <div class="col-lg-8">
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control pt1", @placeholder = "email", @required = true })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-8">
            @Html.LabelFor(model => model.CPF)
            @Html.TextBoxFor(model => model.CPF, new { @class = "form-control pt1", @placeholder = "CPF", @required = true })
            @Html.ValidationMessageFor(model => model.CPF)
        </div>
    </div>

   

    <div class="form-group">
        <div class="col-lg-8">
            @Html.LabelFor(model => model.Telefone)
            @Html.TextBoxFor(model => model.Telefone, new { @class = "form-control pt1", @placeholder = "Telefone", @required = true })
            @Html.ValidationMessageFor(model => model.Telefone)
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-8">
            @Html.LabelFor(model => model.Senha)
            @Html.PasswordFor(model => model.Senha, new { @class = "form-control pt1", @placeholder = "Senha", @required = true })
            @Html.ValidationMessageFor(model => model.Senha)
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-8">
            @Html.LabelFor(model => model.Ativo)
            @Html.EditorFor(model => model.Ativo)
            @Html.ValidationMessageFor(model => model.Ativo)
        </div>
    </div>
    <p>
        <input type="submit" value="Cadastrar" class="btn btn-primary" />
        @Html.ActionLink("Voltar", "ListaUsuarios", "Usuarios",null, new { @class = "btn btn-default" })
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
