﻿@model IEnumerable<BHTecEventos.Models.Usuarios>

@{
    ViewBag.Title = "ListaUsuarios";
    Layout = "~/Views/Shared/_EventoLayout.cshtml";
}

<h2>Usuários do Sistema</h2>
@if (TempData["mensagem"] != "")
{
    <div class="alert alert-info">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["mensagem"]
    </div>
}

@if (TempData["atencao"] != "")
{
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @TempData["atencao"]
    </div>
}


<p>
    @Html.ActionLink("Cadastrar Novo Usuário", "CadastrarUsuario","Usuario",null)
</p>
<div class="table-responsive">
    <table class="table table-striped" style="background-color:#fff; margin-top:1%">
        <thead>
            <tr>
                @*<th>
                    @Html.DisplayNameFor(model => model.Codigo)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CPF)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Ativo)
                </th>
                <th>@Html.Label("Opções")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Ativo)
                    </td>
                    <td>
                        @Html.ActionLink("Atualizar", "AtualizarUsuario", new {  id=item.Codigo}) |
                        @Html.ActionLink("Excluir", "ExcluirUsuario", new { id = item.Codigo })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

</table>
