﻿

#login_page
{
    width: 45%; 
    margin: auto; 
    margin-top: 6%;
    padding: 2%;
    background-color: white;
    -moz-box-shadow: 0 0 6px #a4a4a4;
    -webkit-box-shadow: 0 0 6px #a4a4a4;
     box-shadow: 0 0 6px #a4a4a4;
     border-radius: 5px;
}

@media screen and (max-width: 850px) 
{
    #login_page
    {
        width: 90%; 
        
    }
}

html, body {
    height: 100%;
}
.page-wrap {
    min-height: 100%;
    margin-bottom: -50px; 
    padding-bottom: 20px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    height: 50px; 
}
.site-footer {

  background: #d5d5d5;
}
