body { height: 100%; margin: 0; padding: 0 }

#container 
{
    min-width: 720px;
}

ul
{
	list-style-type: none;
	padding: 0px;
	padding: 0px;
	margin: 0px;
}

p
{
	font-size: 17px;
	text-align: justify;
    margin-top: 15px;
}

.firstHeading
{
	color: #465ea8;
    font-family: "Ubuntu";
    font-size: 22px;
    margin-bottom: 5px;
}

.busca{
    background-color: #f7f7f7;
    padding: 20px;
    z-index: 9999;
    position: absolute;
    border-top-left-radius: 6px;
    top: 632px;
    right:0;
}
.busca label{
    color: rgba(79, 79, 79, 0.94);
    font-weight: bold;
}
.busca input{
    border: 2px solid #c2c2c2;
    padding: 8px;
    background: #FFF;
    margin-left: -3px;
    margin-right: -3px;
}
#btnEndereco{
    background-color: #ededed;
}

.itemlista
{
	border-bottom: 1px solid #545454; 
	border-top: none;
	border-left: none;
	border-right: none;
	width: 220px;
	height: 50px;
	color: #ffffff;
    background-color: rgba(79, 79, 79, 0.94);
	font-family: "Ubuntu"; 
    font-weight: bolder;
	font-size:18px;
	font-weight:normal;
	font-style:normal;
	
	-moz-transition: height 0.15s linear;
	-webkit-transition: height 0.15s linear;
	-o-transition: height 0.15s linear;
	transition: height 0.15s linear;
}

#showhide 
{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 40px;
    background-color: #444;
}

.itemlista:active
{
	opacity: 0.8; 
}

#botaoclubes:hover
{background-color: #ffc000 !important;}

#botaounidades:hover
{background-color: #3598db !important;}

#botaohospedagem:hover
{background-color: #2ecd71 !important;}

#botaoeducacao:hover
{background-color: #ab58b5 !important;}

#botaodiversos:hover
{background-color: #5c6d7d !important;}

#botaojuridico:hover 
{background-color: #e84c3d !important;}

#botaohoteis:hover 
{background-color: #e77e23 !important;}

aside 
{
    position: absolute;
    z-index: 9999;
    width: 220px; 
    top: 0px;
    left: 75px;
    height: 603px; 
    float: left;
}

.menu
{  
    height: 40px;
}


#map 
{ 
    top: 0px;
    position: absolute;
    z-index: 9997;
    width: 100%;

    min-width: 720px;

    height: 730px;
    float: left;
}

#rodape
{
    border-top:3px solid #dddddd;
    top: 730px;
    position: absolute;
    z-index: 9997;
    width: 100%;
    background-color: #f7f7f7;

    height: 270px; 
    float: left;

    min-width: 720px;
}

#logo_aspra
{
	margin-left: 40px;
	margin-top: 20px;
	float:left;
	margin-top: 14px;
}

#associe-se
{
	margin-left: 10%;
	float:right;
}

@keyframes mexe{
    0%{font-size: 10px;}
    25%{font-size: 50px;}
    50%{font-size: 10px;}
    75%{font-size: 70px;}
    100%{font-size: 10px;}
}




.botao 
{
	
    color: #f7f7f7;
    text-decoration: none;
    background-color: #526ab4;
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 3em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px #465ea8, 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px #465ea8, 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px #465ea8, 0px 9px 25px rgba(0,0,0,.7);

    margin-top: 29px;
    margin-right: 33px;

	width: 200px;
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

.botao:active 
{
	-webkit-box-shadow: 0px 3px 0px #465ea8, 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px #465ea8, 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px #465ea8, 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

/* MODAL */
body {
    font-family: "Ubuntu";

    }

    a {color:#333; text-decoration:none}
    a:hover {color:#ccc; text-decoration:none}

    #boxes .window {
      position:absolute;
      display:none;
      z-index:9999;

      width:90%;
      height:525px;
      background-color: #f7f7f7;
      padding: 25px;
      top: 145px;
      left: 3%;
      min-width: 1100px;


      -moz-box-shadow:    1px 1px 5px 2px #c2c2c2;
      -webkit-box-shadow: 1px 1px 5px 2px #c2c2c2;
      box-shadow:         1px 1px 5px 2px #c2c2c2;
    }

    .close{display:block; text-align:right; margin-right:2.5%;}

.mod_esquerda 
{
    float: left;
    min-width: 410px;
    width: 40%;
    height:460px;
    overflow-y: auto;
    padding:10px;
    margin-top:10px;

}

.mod_direita
{
    float: left;
    margin-left: 7%;
    margin-top: 20px;  
    width: 530px;
}

.mod_cabecalho h2
{
    margin-left:10px;
    margin-top:0px;
    margin-bottom:-10px;
    color: #465ea8;
    float:left;
    font-size:30px;
}

.mod_botao 
{
    background-color: #465ea8;
	opacity: 0.8;

    margin-top: 15px;
	font-family: "Ubuntu"; 
	font-size:20px;
	font-weight:normal;
	font-style:normal;
    border: none;
	height:30px;
	color: #f7f7f7;
	line-height:30px;
	width:150px;
	text-decoration:none;

	text-align:center;
}
.mod_botao:hover 
{
	opacity: 0.9;
}

#bemvindo{
    font-family: "Ubuntu";
    width: 1000px;
    margin-top: -4px;
    color: #787878;
}

#bemvindo p{
    margin-top: -15px;
}










