.T_rodape {
    border-bottom:2px solid #dddddd;
    
    margin:auto;
    margin-top:40px;    
    width:90%;
}

.T_rodape h3 {
    font-weight: normal;
    font-size: 30px;
    font-family: Ubuntu;
}

.T_rodape h4 {
    font-weight: normal;
    font-size: 20px;
    font-family: Ubuntu;
}

.item {
    float:left;
    margin-top:15px;
    text-align:center;
}

.item p {
    font-family: "Ubuntu";
    font-size:17px;
    margin:auto;
    width:100%;
    margin-top:10px;
}