﻿@model BHTecEventos.Models.AdminLoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Externo.cshtml";
}

<style>
    #loginadmin {
        padding: 3%;
        width: 35%;
        margin: auto;
        background-color: #f7f7f7;
        -moz-box-shadow: 0 0 6px #a4a4a4;
        -webkit-box-shadow: 0 0 6px #a4a4a4;
        box-shadow: 0 0 6px #a4a4a4;
        border-radius: 8px;
    }

    .login_title {
        color: #888888;
        text-align: center;
    }

    body {
        background-image: url(../Images/bg2.png);
    }

    #logo {
        width: 50%;
        height: 50%;
        margin-left: 25%;
        padding-bottom: 2%;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    @@media all and (max-width: 1000px) {
        #logo {
            margin-left: 30%;
        }

        #loginadmin {
            width: 95%;
        }

        h2 {
            font-size: 25px;
        }
    }
</style>

<script>
    jQuery(function ($) {
        $("#CPFUsuario").mask("999.999.999-99");
    });
</script>

<div id="loginadmin">
    <div id="logo">
        <img src="~/Images/logo_bhtec.jpg" />
    </div>
    <hr />
    <h2 class="login_title">Administrador</h2>
    <hr style="clear: both" />
    @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(model => model.CPFUsuario)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.CPFUsuario, new { @class = "form-control", @placeholder = "CPF Usuário" })
                @Html.ValidationMessageFor(model => model.CPFUsuario, null, new { @style = "color: #f00" })
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Senha, new { @style = "margin-top: 2%" })
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.Senha, new { @class = "form-control", @placeholder = "Senha" })
                @Html.ValidationMessageFor(model => model.Senha, null, new { @style = "color: #f00" })
            </div>
            @Html.ValidationSummary(true, null, new { @style = "color: #f00; margin-top: 2%" })
            <p>
                <input type="submit" value="Entrar" class="btn btn-lg btn-primary btn-block" style="margin-top:5%" />
                @Html.ActionLink("Esqueci minha senha.", "RecuperaSenhaUsuario","Admin", null, new { @class = "btn btn-link", @style = "float: right; margin-top: 8px; margin-right: -8px" })
            </p>
        </fieldset>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
