﻿@{
    ViewBag.Title = "RecuperaSenhaUsuario";
    Layout = "~/Views/Shared/_Externo.cshtml";
}

<style>
    #rec {
        padding: 4%;
        background-color: #ebebeb;
        -moz-box-shadow: 0 0 6px #a4a4a4;
        -webkit-box-shadow: 0 0 6px #a4a4a4;
        box-shadow: 0 0 6px #a4a4a4;
        border-radius: 8px;
    }
</style>
<script>
    jQuery(function ($) {
        $("#CPF").mask("999.999.999-99");
    });
</script>
<div id="rec">

    <h2>Recuperação de senha</h2>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, null, new { @style = "color: #f00" })

        <fieldset>
            <legend>Insira seu CPF e enviaremos a senha para você.</legend>

            <div class="editor-field">
                @Html.TextBox("CPF", null, new { @class = "form-control", @placeholder = "CPF", @style = "margin-top:1%" })
                @*<span>@ViewData["mensagem"]</span>*@
            </div>
            <div class="alert alert-success">
                @TempData["mensagem"].ToString()
            </div>
            }

            <p>
                <div class="form-group">
                    <div class="col-lg-1">
                        <input type="submit" value="ENVIAR" class="btn btn-primary" style="margin-top: 3%" />                        
                    </div>
                    <div class="col-lg-1">
                        @Html.ActionLink("VOLTAR", "Login", "Admin",null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </p>
        </fieldset>
    }



</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
