﻿@{
    Layout = null;
    var db = new BHTecEventos.Models.EntitiesBHTecEventos();
    var funcionario = db.Usuarios.FirstOrDefault(u => u.CPF == User.Identity.Name);
}
@using BHTecEventos.Controllers

<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../Images/logo_03.png">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <title>@ViewBag.Title - INOVA UFMG</title>

    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/navbar.css")
    @Styles.Render("~/Content/User/dataTables.bootstrap.css")
    @Scripts.Render("~/Scripts/modernizr-2.5.3.js")
    @Scripts.Render("~/Scripts/jquery-1.7.1.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/jquery.maskedinput.js")
    @Scripts.Render("~/Scripts/jquery.maskMoney.js")



    <style>
        body {
            /*background-image: url(../Images/bg2.png);*/
            background-color: #d5d5d5;
            min-width: 1000px;
            font-family: Ubuntu;
        }

        #content {
            -moz-box-shadow: 0 0 6px #a4a4a4;
            -webkit-box-shadow: 0 0 6px #a4a4a4;
            box-shadow: 0 0 6px #a4a4a4;
            border-radius: 4px;
        }

        /* Estilo para lista de erros. */
        .validation-summary-errors ul {
            /*background-color: #ffdede;*/
            border-radius: 5px;
            color: #aa1818;
            list-style-type: none;
            padding: 10px 18px 10px 18px;
        }
    </style>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51434704-1', 'www.inova.ufmg.br');
        ga('send', 'pageview');

    </script>

    <script>
        function ok() {
            document.getElementById('@ViewBag.T').className = 'active';
        }
    </script>
</head>

<body onload="ok()">
    <div id="content">
        <!-- Static navbar -->
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Images/logo_bhtec.jpg" width="60" height="40" />

            </div>
            <!--MENU-->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (AccountController.VerificaPermissao(User.Identity.Name.ToLower(), 1))
                    {
                        <li id="Index">@Html.ActionLink("PARTICIPANTES", "BuscaCadastrados", "Evento")</li>
                        <li id="Index">@Html.ActionLink("EVENTOS", "IndexEvento", "Evento")</li>
                        <li id="Index">@Html.ActionLink("RELATÓRIOS", "Relatorio", "Evento")</li>
                        <li id="Index">@Html.ActionLink("USUÁRIOS", "ListaUsuarios", "Usuarios")</li>
                    }
                    else
                    {
                        @*<li id="Index">@Html.ActionLink("INICIO", "Index", "Home")</li>*@
                        @*<li id="Index">@Html.ActionLink("Emitir Certificado", "EmitirCertificado", "Evento")</li>*@
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (AccountController.VerificaPermissao(User.Identity.Name.ToLower(), 1))
                    {
                        <li>@Html.ActionLink("SAIR", "Sair", "Admin")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("SAIR", "Index", "Home")</li>
                    }
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>

        <!-- CONTEUDO PRINCIPAL -->
        <div class="form-horizontal" style="background-color: #FFFFFF;border-radius: 4px; min-height: 650px;   ">
            <div style="padding: 25px; font-family:Verdana">

                @RenderBody()

            </div>
        </div>
        <div style="margin: 5px; float: left">
            Acessando em <strong>@DateTime.Today.ToShortDateString()</strong> |
            IP: <strong>@HttpContext.Current.Request.UserHostAddress.ToString()</strong>
        </div>
    </div>
    <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/Scripts/jquery-1.7.1.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/User/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/User/dataTables.bootstrap.js")



    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable({
                "bSort": false,
                "aLengthMenu": [20, 50, 100]
            });
        });

        $('form').submit(function () { //Evento de tentativa de submissao de um form.
            if ($('form').valid()) //Verifica se o form está válido (jQuery Validation Plugin)
                $(this).find(':submit').attr('disabled', 'disabled'); //Desabilita input type submit dentro do form.
        });
    </script>
</body>

</html>
