﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | PSG</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/foundation.css")
    @Styles.Render("~/Content/base.css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/foundation/foundation.js"></script>
    <script src="~/Scripts/foundation/foundation.abide.js"></script>
</head>
<body>
    <div id="body" style="margin-top: 2%">
        <div class="row">
            <div class="medium-12 columns">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer style="clear:both; margin-top: 10px;">
        <p style="text-align: center">&copy; HSTecnologia 2015</p>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
